.greece-img
{

    width: 500px;
    margin-top: 25px;
}

.map-img
{
    width: 400px;
    margin-top: 50px;
}
body
{
   background-color:#F7E7BD;
}
h5{
    margin-top: 55px;
}
.fav-img{
    width: 60px;
    margin-right: 14px;
}

